body {
  margin: 0;
}

.engine-wrapper {
    z-index: -1;
}

#c {
  width: 100vw;
  height: 100vh;
  display: block;
  /*background: url(poubelle-poly.jpg) no-repeat center center;*/
  background: #ff0000;
  background-size: cover;
}
